.invoice-text {
    color: #ffffff !important;
}

.invoice-page .card-header {
    background-color: transparent !important; /* Lighter purple for headers */
    border-bottom: none;
    font-weight: bold;
}

.invoice-titles {
    color: #ffffff; 
    font-weight: bold;
    margin-top: 1px; 
    margin-bottom: 1px;
}

hr.my-4 {
    margin-top: 5px !important;  
    margin-bottom: 5px !important; 
}

.btn-prev, .btn-next {
    color: #ffffff;
    height: auto;
    line-height:normal;
}

.btn-prev:hover, .btn-next:hover {
    color: #4b0082;
    transform: scale(1.1);
    box-shadow: 0 4px 20px rgba(106, 13, 173, 0.2); 

}