{% extends "dashboard_base_admin.html" %}
{% block title %} Admin messages from Tutors {% endblock %}
<!-- For Admins to view all student messages -->

{% block content %}
<div class="container mt-5">
 <h1 class="text-center text-dashboard-purple mt-4">Messages from Tutors</h1>
    {% if messages %}
    <div class="row">
    {% for message in messages%}
       <div class="col-md-4 mb-4">
          <div class="card bg-light shadow">
                <div class="card-header bg-dashboard-purple text-white">
                    Tutor Message
                </div>
                <div class="card-body">
                    <h5 class="card-title">Name: {{message.user.first_name}} {{message.user.last_name}}</h5>
                    <p class="card-text">Role: {{ message.role }}</p>
                    <p class="card-text">{{ message.message }}</p>
                    <a href="{% url 'admin_reply'  message.id %}" class="btn btn-outline-light btn-sm">Respond Back</a>
                    <p><strong>Reply:</strong> {{ message.reply|default:"No response yet." }}</p>
                </div>
                <div class="card-footer text-muted">
                    Sent on: {{ message.timestamp|date:"F j, Y, g:i a" }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center text-muted">No messages from Tutor yet.</p>
   {% endif %}
</div>
{% endblock %}