{% extends 'dashboard_base_student.html' %} {% load static %} {% block title %}
Invoice Page {% endblock %} {% block extra_css %}
<link href="{% static 'invoice_page.css' %}" rel="stylesheet" />
{% endblock %} {% block content %}

<!-- This might not be included if we use notif board
<div
  class="alert"
  style="background-color: #6a0dad; border: 5px solid #4b0082; color: #ffffff"
  role="alert"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
    viewBox="0 0 16 16"
    role="img"
    aria-label="Warning:"
    width="24"
    height="24"
  >
    <path
      d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
      fill="#4b0082"
    />
  </svg>

  You have oustanding payments. Click
  <a href="#" class="alert-link" style="color: #ffffff">here</a> to see more.
</div>-->

<div
  class="alert"
  style="background-color: #6a0dad; border: 5px solid #4b0082; color: #ffffff"
  role="alert"
>
  Status: {{invoice.payment_status}} | Payment due by: {{invoice.due_date}}
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-start text-dashboard-purple mt-4">
        Here are your invoices, {{invoice.student.first_name}}.
      </h1>
    </div>
  </div>
</div>

<div class="invoice-page">
  <div class="card bg-transparent border-0">
    <div
      class="card-header d-flex align-items-center justify-content-center gap-2"
    >
      <button type="button" class="btn btn-prev">&lt;</button>
      <span class="align-middle">Select Date</span>
      <button type="button" class="btn btn-next">&gt;</button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <p>{{invoice.student.full_name}}</p>
          <p>Address</p>
          <p>Phone Number</p>
        </div>
        <div class="col">
          <p>{{invoice.invoice_date}}</p>
          <p>Invoice num</p>
          <p>Account num</p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="my-4" />
<div class="container text-center">
  <div class="row justify-content-md-start">
    <div class="col invoice-titles">Date</div>
    <div class="col invoice-titles">Lesson length</div>
    <div class="col invoice-titles">Tutor name</div>
    <div class="col invoice-titles">Price</div>
  </div>
</div>

<hr class="my-4" />

<div class="invoice-page">
  <div class="card shadow-lg bg-transparent border-0 text-center">
    <div class="card-body">
      {% for booking in lesson_bookings %}
      <div class="row justify-content-md-start">
        <div class="col">{{booking.lesson_date}}</div>
        <div class="col">{{booking.duration}}</div>
        <div class="col">{{booking.tutor}}</div>
        <div class="col">£{{booking.lesson_price}}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<hr class="my-4" />

<div class="invoice-text" style="text-align: right">
  <p>Total: {{invoice.amount_due}}</p>
</div>

{% endblock %}
