{% extends 'dashboard_base_admin.html' %} {% load static %} {% block title %}
Manage Invoices {% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'manage_invoices.css' %}" />
{% endblock %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center text-dashboard-purple mt-4">Invoice Management</h1>
</div>

<table class="table">
  <thead class="table-head">
    <tr>
      <th scope="col">Invoice Num</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
      <th scope="col">Due Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <th scope="row">1</th>
      <td><div class="text-box">Mark</div></td>
      <td><div class="text-box">Otto</div></td>
      <td><div class="text-box">500</div></td>
      <td><div class="text-box">unpaid</div></td>
      <td><div class="text-box">1/11</div></td>
      <td><div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary">Left</button>
        
      </div></td>
    </tr>
    </tr>
  </tbody>
</table>
{% endblock %}
