{% extends profile_base_template %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>
        <div class="alert header-alert" role="alert">
          <h1 class="alert-heading">
            Edit Profile
          </h1>
        </div>
      </h1>
      <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <div class="mb-3">
          <label for="profile_picture" class="form-label">Profile Picture</label>
          <input type="file" class="form-control" id="profile_picture" name="profile_picture">
        </div>
        <input type="submit" value="Update" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}